* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#e94560;
}

#divContainer {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    background-color: #f5f5f5;
}

button {
    padding: 10px;
    margin: 10px;
}

/* #1a1a2e and #16213e */